body {
    padding: 0;
    margin: 0;
}
.btn {  /*button for main menu*/
    background-color: rgb(24, 192, 66);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(21, 163, 56);
}
.btn:active {
    animation-name: changecolormain;
    animation-duration: 0.5s;
}
@keyframes changecolormain {    /*animation when the button is pressed*/
    0% {background-color:  rgb(21, 163, 56);}
    50% {background-color:rgb(17, 138, 48);}
    100% {background-color:  rgb(21, 163, 56);}
}


input[type=text].searchbar {  /*search bar*/
    background-color: rgb(27, 216, 75);
    border: 2px solid;
    border-color: rgb(24, 192, 66);
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}
input[type=text]:focus.searchbar {
    background-color: rgb(27, 216, 75);
    border: 2px solid rgb(24, 192, 66);
    border-color: rgb(24, 192, 66);
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
}

.searchbar::placeholder {
    color: white;
    opacity: 1;
}

.pfp {  /*profile picture*/
    height: 85%;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}

.topmenu {  /*table for top menu*/
    height: 50px;
    background-color: rgb(24, 192, 66);
    margin-left:-5px;
    margin-right:-5px;
}

#right {    
    text-align: right;
}

#left {
    text-align: left;
    width:25%;
}
.menu {
    width: 100%;
    height: 8%;
    border-collapse: collapse;
    border-spacing: 0;
}

.maintable {
    width: 100%;
    height: 92%;
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height:100%;
}
body {
    height: 100%;
}

.btnside {
    width:100%;
    background-color: rgb(216, 216, 216);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    border-radius: 7px;
}
.btnside:hover {
    background-color:  rgb(197, 195, 195);
}
.btnside:active {
    animation-name: changecolorside;
  animation-duration: 0.5s;
}
@keyframes changecolorside {
    0% {background-color:  rgb(197, 195, 195);}
    50% {background-color: rgb(161, 161, 161);}
    100% {background-color:  rgb(197, 195, 195);}
}



.sidemenushow{  /*show side menu*/
    padding: 10px;
    width:25%;
    height:100%;
    background-color: rgb(216, 216, 216);
    vertical-align:top;
}
.sidemenuhidden {   /*hide side menu setting 0% width*/
    width: 0%;
    background-color: white;
}

.blueicon {
    color: blue;
}
.greenicon {
    color: green;
}
.purpleicon {
    color: purple;
}
.yellowicon {
    color: yellow;
}
.grayicon{
    color: gray;
}
.redicon{
    color: red;
}


.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.tododiv {
    text-align: center;
}
.todolist {
    padding: 40px;
    vertical-align:top;
}

input[type=checkbox] {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

/*input[type=checkbox]:checked.redcheck {
    background-color: red;
}

input[type=checkbox]:checked.greencheck {
    background-color: green;
}

input[type=checkbox]:checked.bluecheck {
    background-color: blue;
}

input[type=checkbox]:checked.yellowcheck {
    background-color: yellow;
}*/

input[type=checkbox]:checked{
    background-color: gray;
}

.todotext {
    font-size: 30px;
}
.todotextform {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-left: -5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
    border:1px solid black; 
    width: 100%;
    height: 100%; 
    line-height: 200%;
    resize: none;
}

#addbutton {
    height: 20%;
    padding: 20px;
    text-align: left;
}
.addform {
    height:100%;
    width: 50%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.date {
    border-radius: 7px;
    height: 30px;
    padding: 10px 10px 10px 0;
    margin: 10px 10px 10px 0;
}
.groupicon {
    border-radius: 7px;
    height: 53px;
    padding: 10px 10px 10px 0;
    margin: 10px 10px 10px 0;
    padding-left: 10px;
}

.submit {
    border-radius: 7px;
    height: 50px;
    width: 90px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(24, 192, 66);;
    padding: 10px 10px 10px 0;
    margin: 10px 0px 10px 0;
    float: right;
}
.submit:hover {
    background-color: rgb(21, 163, 56);
}
.submit:active {
    animation-name: changecolormain;
  animation-duration: 0.5s;
}
.spansubmit{
    text-align: right;
    width:50%;
}
.todotextform::placeholder{
    color:black;
}
.group::placeholder{
    color: black;
}

.btnaddtodo{
    border: none;
    font-size: 25px;
    background-color: white;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.btngroup{
    border: none;
    font-size: 25px;
    background-color: rgb(216, 216, 216);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.groupform{
    border: 1px solid  rgb(24, 192, 66);
    border-radius: 7px;
    height: 180px;
    position: relative;
    background-color: white;
}
.groupname{
    width: 90%;
    box-sizing: border-box;
    padding-left: 10px;
    height: 35%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.color{
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.selecticon{
    width: 15%;
    height: 30%;
    margin-bottom: 5%;
    margin-left: 5%;
    position: absolute;
    font-size: 30px;
}

.submitside{
    border-radius: 7px;
    height: 30%;
    width: 20%;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(24, 192, 66);;
    
    margin-right:5%;
    margin-bottom: 5%;
    float: right;
}
